    {{>pages/header1}}

    {{>pages/header2}}

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="main-img">
                <section class="main-section">
                    <div class="container">
                            <div class="fs-3" id="index-desc">다양한 체험활동을 지도로 한눈에 알아보세요!</div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <select class="form-select" id="main-select-map">
                                        <option value="" selected>전체검색</option>
                                        <option value="adress">지역검색</option>
                                        <option value="villname">마을명</option>
                                        <option value="activity">체험활동</option>
                                    </select>
                                </div>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="main-input" placeholder="검색어를 입력해주세요!"/>
                                        <span class="button">
                                            <button class="btn" id="mapSearch"><i class="lni lni-map"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                </section>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>인기여행지</h2>
                        <p>조회수가 가장 높은 인기있는 마을이에요!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="view">
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Banner Area -->
<!--    <section class="banner section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-md-6 col-12">-->
<!--                    <div class="single-banner" style="background-image:url('https://via.placeholder.com/620x340')">-->
<!--                        <div class="content">-->
<!--                            <h2>Smart Watch 2.0</h2>-->
<!--                            <p>Space Gray Aluminum Case with <br>Black/Volt Real Sport Band </p>-->
<!--                            <div class="button">-->
<!--                                <a href="product-grids.mustache" class="btn">View Details</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-6 col-12">-->
<!--                    <div class="single-banner custom-responsive-margin"-->
<!--                        style="background-image:url('https://via.placeholder.com/620x340')">-->
<!--                        <div class="content">-->
<!--                            <h2>Smart Headphone</h2>-->
<!--                            <p>Lorem ipsum dolor sit amet, <br>eiusmod tempor-->
<!--                                incididunt ut labore.</p>-->
<!--                            <div class="button">-->
<!--                                <a href="product-grids.mustache" class="btn">Shop Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Banner Area -->

    <!-- Start Home Product List -->
<!--    <section class="home-product-list section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">-->
<!--                    <h4 class="list-title">Best Sellers</h4>-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">GoPro Hero4 Silver</a>-->
<!--                            </h3>-->
<!--                            <span>$287.99</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Puro Sound Labs BT2200</a>-->
<!--                            </h3>-->
<!--                            <span>$95.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">HP OfficeJet Pro 8710</a>-->
<!--                            </h3>-->
<!--                            <span>$120.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">-->
<!--                    <h4 class="list-title">New Arrivals</h4>-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">iPhone X 256 GB Space Gray</a>-->
<!--                            </h3>-->
<!--                            <span>$1150.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Canon EOS M50 Mirrorless Camera</a>-->
<!--                            </h3>-->
<!--                            <span>$950.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Microsoft Xbox One S</a>-->
<!--                            </h3>-->
<!--                            <span>$298.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-12">-->
<!--                    <h4 class="list-title">Top Rated</h4>-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Samsung Gear 360 VR Camera</a>-->
<!--                            </h3>-->
<!--                            <span>$68.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Samsung Galaxy S9+ 64 GB</a>-->
<!--                            </h3>-->
<!--                            <span>$840.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                    &lt;!&ndash; Start Single List &ndash;&gt;-->
<!--                    <div class="single-list">-->
<!--                        <div class="list-image">-->
<!--                            <a href="product-grids.mustache"><img src="https://via.placeholder.com/100x100" alt="#"></a>-->
<!--                        </div>-->
<!--                        <div class="list-info">-->
<!--                            <h3>-->
<!--                                <a href="product-grids.mustache">Zeus Bluetooth Headphones</a>-->
<!--                            </h3>-->
<!--                            <span>$28.00</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single List &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Home Product List -->

    <!-- Start Brands Area -->
    <div class="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <h2 class="title">정보제공기관</h2>
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->

    <!-- Start Blog Section Area -->
    <section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>매거진</h2>
                        <p>촌놀자에서 소개하는 최신뉴스!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">체험활동 탐방기</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">체험활동 해보기!!</a>
                            </h4>
                            <p>무더운 날씨에는 어떤 체험활동을 해야할까 ?</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">일어보기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">우리만 아는 노는법</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">더 재미있게 노는 방법</a>
                            </h4>
                            <p>맨날 똑같은 활동은 지겹다구요? 이 체험활동은 어떠세요!</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">읽어보기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">지금 계절에 어울리는 곳은?</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">어느 곳을 가야 좋을까?
                                </a>
                            </h4>
                            <p>지금 가야하는 체험활동!</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">읽어보기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section Area -->

    <!-- Start Shipping Info -->
<!--    <section class="shipping-info">-->
<!--        <div class="container">-->
<!--            <ul>-->
<!--                &lt;!&ndash; Free Shipping &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-delivery"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Free Shipping</h5>-->
<!--                        <span>On order over $99</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Money Return &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-support"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>24/7 Support.</h5>-->
<!--                        <span>Live Chat Or Call.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Support 24/7 &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-credit-cards"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Online Payment.</h5>-->
<!--                        <span>Secure Payment Services.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Safe Payment &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-reload"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Easy Return.</h5>-->
<!--                        <span>Hassle Free Shopping.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Shipping Info -->

    {{>pages/footer1}}
    <script src="/js/indexAll.js"></script>
    {{>pages/footer2}}