<article class="mypage_list">
    <ul>
        <li><a href="/manager/mypage">회원정보</a></li>
        <li><a href="#">활동내역</a></li>
        <li><a href="/manager/companyinfo">마을정보</a></li>
        <li><a href="/village/addAct">체험등록</a></li>
        <li><a href="/village/actlist">체험조회</a></li>
        <li><a href="#">예약조회</a></li>
        <li><a href="#">사업자 탈퇴</a></li>
    </ul>
</article>