{{>pages/header1}}
<link rel="stylesheet" href="/css/mypageUser.css">
<link rel="stylesheet" href="/css/mypageManager.css">
<link rel="stylesheet" href="/css/board.css">

{{>pages/header2}}

<!-- Cotainer는 그렇게 양쪽 여백을 주게 되어있고  fluid 뭐시기는 여백 없음-->
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageManagerNAV}}
            <article class="mypage_article">
                <div class="manager-top">
                    <h3>마을정보</h3>
                    <span class="button">
                        <button class="btn" id="vill-edit">수정</button>
                    </span>
                </div>
                <div id="thumb-preview" class="detail-inner">
                </div>
                <div class="col-sm-12 cn_name">
                    <div class="form-group">
                        <label for="villname">마을명</label>
                        <input class="form-control" type="text" id="villname" readonly/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="villStreet">주소</label>
                        <input type="text" class="form-control col-sm-8 col-8" id="villStreet" placeholder="주소"
                               readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="villRepName">대표자 명</label>
                        <input type="text" class="form-control" id="villRepName" placeholder="대표자 명" readonly
                        >
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="villUrl">홈페이지 주소</label>
                        <input type="text" class="form-control" id="villUrl" placeholder="홈페이지 주소" readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="villProvider">기관코드</label>
                        <input type="text" class="form-control" id="villProvider" placeholder="기관코드" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="villProvider">은행명</label>
                            <input type="text" class="form-control" id="vill-bankname" placeholder="은행" readonly>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="villProvider">계좌번호</label>
                            <input type="text" class="form-control" id="vill-bankNum" placeholder="계좌번호" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="vill-desc">설명</label>
                        <input type="text" class="form-control" id="vill-desc" placeholder="설명" readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="vill-notify">공지사항</label>
                        <input type="text" class="form-control" id="vill-notify" placeholder="주의사항" readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="vill-activity">체험활동 종류</label>
                        <input type="text" class="form-control" id="vill-activity" placeholder="체험활동 종류" readonly >
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
<script>
    document.getElementById('vill-edit').addEventListener('click',()=>{
        location.replace(`/manager/villedit`);
    })
</script>
<script src="/js/village/myPageManager.js"></script>
<script src="/js/village/villageThumb.js"></script>

{{>pages/footer2}}
